*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(5, 5, 5);
}
.creator{
    position: absolute;
    top: 40px;
    left: 30px;
    background: ;
    width: 110px;
    height: 110px;
}
.creator img{
    position: absolute;
    top: 0;
    width: 100px;
    height: 100px;
    border: 5px solid rgba(33, 47, 60) ;
    opacity: 0.8;
}
.creator p{
    color: white ;
    margin-top: 55%;
    font-size: 30px;
    margin-left:10px ;
}
.creator:hover img{
    display: block;
    transition:5s;
}
.creator:hover{
    cursor: pointer;
}
.first-sec{
    display: flex;
    justify-content: left;
    align-items: left;
}
.cube{
    position: relative;
    margin-top: 250px;
    margin-left: 150px;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    animation: animate 4s linear infinite; 
}
@keyframes animate{
    0%{
        transform: rotateX(-30deg) rotateY(0);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    }
}
.cube div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cube div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(#151515,rgba(137, 235, 0));
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
}
.top{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background-color: #222;
    transform: rotateX(90deg) translateZ(150px);
}
.top::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background-color: rgba(137, 235, 0);
    transform: translateZ(-350px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(137, 235, 0,0.2),
    0 0 200px rgba(137, 235, 0,0.4),
    0 0 300px rgba(137, 235, 0,0.5),
    0 0 400px rgba(137, 235, 0,0.8),
    0 0 500px rgba(137, 235, 0,1);
}

.second-sec{
    display: flex;
    justify-content: right;
    align-items: right;
}
.cube2{
    position: absolute;
    top: 100px;
    margin-right: 150px;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 4s linear infinite; 
}
@keyframes animate{
    0%{
        transform: rotateX(-30deg) rotateY(0);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    }
}
.cube2 div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cube2 div .span2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(#151515,rgb(235, 47, 0));
    transform: rotateY(calc(90deg * var(--i))) translateZ(99px);
}
.top2{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: #222;
    transform: rotateX(90deg) translateZ(100px);
}
.top2::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: rgb(235, 47, 0);
    transform: translateZ(-250px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgb(235, 47, 0),
    0 0 200px rgb(235, 47, 0,0.2),
    0 0 300px rgb(235, 47, 0,0.5),
    0 0 400px rgb(235, 47, 0,0.8),
    0 0 500px rgb(235, 47, 0,1);
}